# Here we set a bunch of parameters for your image build

# output image name, usually same as repo name, change as needed
IMAGE_NAME=vorteq-nas-os

# Make this the same as your github username/organisation
REPO_ORGANIZATION="vorteq"

IMAGE_DESC="Vorteq NAS OS image"
IMAGE_KEYWORDS="bootc,oci,linux,fedora,nas"

# Put your own image here for a fancy profile on https://artifacthub.io/!
IMAGE_LOGO_URL="https://i.imgflip.com/7u7sg2.png"
DEFAULT_TAG="latest"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"

###
